<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" style="height: 100%; ">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Auction Purple</title>
    <link type="text/css" href="css/main.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body style="height: 100%; margin: 0;">

<div id="app" style="min-height: 100%; position: relative; top: 0; bottom: 0;left: 0; right: 0; "></div>

<script src="built/bundle.js"></script>

</body>
</html>