.formContainer{
    text-align: center;
    margin: 30px;
    padding: 25px;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0 0 5px #d8d8d8;
}

.inputLabel{
    padding: 2px;
    margin: 6px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #5a5a5a;
    float: left;
}

.inputFieldWide{
    width: 300px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-width: 1px;
    border-style: solid;
    margin: 8px;
    margin-bottom: 15px;
}

.buttonWide{
    width: 300px;
    border: none;
    font-family:  'Lato', sans-serif;
    background-color: #52307c;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin: 6px;
    margin-top: 15px;
    cursor: pointer;
}

.message{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #5a5a5a;
}

.warningMessage{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #9c2510;
}

.highlightMessage{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #52307c;
}

.highlight{
    color: #52307c;
}
.highlightLinkStyle{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #52307c;
    cursor: pointer;
}

.standardColor{
    color: #5a5a5a;
}

h1,h2,h3,p{
    font-family: 'Lato', sans-serif;
}

.textContainer{
    width: 40%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.textBody{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-justify: auto;
    color: #5a5a5a;
}


.link,a,Link{
    cursor: pointer;
    text-decoration: none;
}

.textHeaderBar{
    color:#d8d8d8;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 14px;
    margin-right: 14px;
}

.linkStyle{
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;
}

.searchBox{
    text-align: center;
    width: 50%;
    display: inline;
}

.searchBoxInput{
    width: 500px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #d8d8d8;
}

.logoStyle{
    text-align: center;
    width: 25%;
    display: inline;
    color: #52307c;
    font-size: 25px;
}

.navLinks{
    text-align: center;
    width: 25%;
    display: inline;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 7px;
    background-color: #252525;
    width: 100%;
    overflow: hidden;
}
.navBar{
    width:100%;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    align-items: baseline;
}
.footerBar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 180px;
    left: 0;
    width: 100%;
    background-color: #252525;
    padding-bottom: 50px;
    padding-top: 15px;
}
.footerText{
    color:#d8d8d8;
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

.paddingTop10{
    padding-top: 10px;
}

.font12{
    font-size: 12px;
}

.font20{
    font-size: 20px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.marginLeft15{
    margin-left: 15px;
}

.marginRight30{
    margin-right: 30px;
}

#content{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 250px;
}

.inlineBlock{
    display:inline-block;
}

.socialImg{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
}

.aboutImgBig{
    width: 90%;
    margin: 10px;
    margin-top: 20px;
}

.aboutImgSmall{
    width: 45%;
    margin: 5px;
}

.aboutTextContainer{
    margin-right: 20px;
    flex-shrink:1;
}

.aboutImgContainer{
    flex-grow:1;
}

.aboutContainer{
    display:flex;
    align-items: flex-start;
}

.about{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.footerLinkSet{
    list-style-type: none;
}

.homePageNavigator{
    margin-bottom: 5px;
}

hr.solid{
    border-top: 1px solid #5a5a5a;
    width: 100%;
    margin-bottom: 30px;
}

.gridItemContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 66vw;
    height: 44vw;
    margin-bottom: 60px;
}

.gridItem{
    width: 20vw;
    height: 20vw;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #d8d8d8;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridImg{
    max-width: 90%;
    max-height: 90%;
}

.gridText{
    max-height: 15%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3%;
}

.gridName{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    font-size: larger;
}

.gridPrice{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    font-size: larger;
}

hr.gridBreak{
    border-top: 1px solid #d8d8d8;
    width: 85%;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.shopContainer{
    display: flex;
    margin: 20px;
}

.shopItemWrapper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesList{
    padding:5px;
    margin-right: 40px;
    list-style-type: none;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 5px #d8d8d8;
}

.categoryButton{
    color:#d8d8d8;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.categoryButtonSelected{
    color: #52307c;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: 3px;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.loadEnabled{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 7px;
    text-align: center;

    color:#ffffff;
    background-color: #52307c;
    cursor: pointer;

}
.loadDisabled{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 7px;
    text-align: center;

    color:#ffffff;
    background-color: #d8d8d8;

}

.width10{
    width: 20%;
}