.formContainer{
    text-align: center;
    margin: 30px;
    padding: 25px;
    padding: 40px;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px #d8d8d8;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.formContainerTitle{
    position: absolute;
    width: 100%;
    top:0;

    padding-top: 7px;
    padding-bottom: 7px;

    font-family: 'Lato', sans-serif;
    font-size: medium;
    color: #5a5a5a;
    font-weight: bold;
    background-color: #ececec;
}

.inputLabel{
    padding: 2px;
    margin: 6px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #5a5a5a;
    float: left;
}

.inputFieldContainer{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categorySelectsInline{
    display:flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.justfiySpaceBetween{
    justify-content: space-between;
}

.categorySelectContainer{
    width: 10vw;
    margin-left: 10px;
    margin-right: 10px;
}

.width5vw{
    width: 5vw;
}

.inputField{
    width: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-width: 1px;
    border-style: solid;
    margin: 4px;
}

.inputFieldWide{
    width: 300px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-width: 1px;
    border-style: solid;
    margin: 4px;
}

.narrowed{
    width: 140px;
}

.buttonWide{
    width: 300px;
    border: none;
    font-family:  'Lato', sans-serif;
    background-color: #8367D8;
    color: #ffffff;
    font-size: 20px;
    padding: 6px;
    margin: 6px;
    margin-top: 15px;
    cursor: pointer;
}

.message{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #5a5a5a;
}

.warningMessage{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #9c2510;
}

.warningMessageInputLabel{
    font-family: 'Lato', sans-serif;
    margin: 2px;
    color: #9c2510;
    font-size: 12px;
}

.highlightMessage{
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #8367D8;
}

.highlight{
    color: #8367D8;
}
.highlightLinkStyle{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #8367D8;
    cursor: pointer;
    padding-bottom: 8px;
}

.highlightLinkStyleBorder{
    border-bottom: 6px solid #8367D8;
}

.standardColor{
    color: #5a5a5a;
}

h1,h2,h3,p{
    font-family: 'Lato', sans-serif;
}

.textContainer{
    width: 40%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.textBody{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-justify: auto;
    color: #5a5a5a;
}


.link,a,Link{
    cursor: pointer;
    text-decoration: none;
}

.textHeaderBar{
    color:#d8d8d8;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-left: 14px;
    margin-right: 14px;
}

.linkStyle{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    cursor: pointer;
}

.searchBox{
    text-align: center;
    width: 50%;
    display: inline;
}

.searchBoxInput{
    width: 500px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-color: #d8d8d8;
    color: #5a5a5a;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px #d8d8d8;
}

.logoStyle{
    text-align: center;
    width: 25%;
    display: inline;
    color: #8367D8;
    font-size: 25px;
}

.logoImg{
    max-height: 4vw;
}

.navLinks{
    text-align: center;
    width: 25%;
    display: inline;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 7px;
    background-color: #252525;
    width: 100%;
    overflow: hidden;
}
.navBar{
    width:100%;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.footerBar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    height: 180px;
    left: 0;
    width: 100%;
    background-color: #252525;
    padding-bottom: 50px;
    padding-top: 15px;
}
.contactList{
    list-style-type: none;
}

.footerText{
    color:#d8d8d8;
    font-family: 'Lato', sans-serif;
    padding: 5px;
}

.paddingTop10{
    padding-top: 10px;
}

.font12{
    font-size: 12px;
}

.font20{
    font-size: 20px;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.marginLeft15{
    margin-left: 15px;
}

.marginRight30{
    margin-right: 30px;
}

#content{
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 250px;
}

.inlineBlock{
    display:inline-block;
}

.socialImg{
    width: 20px;
    height: 20px;
    margin-left: 6px;
    margin-right: 6px;
}

.aboutImgBig{
    width: 90%;
    margin: 10px;
    margin-top: 20px;
}

.aboutImgSmall{
    width: 45%;
    margin: 5px;
}

.aboutTextContainer{
    margin-right: 20px;
    flex-shrink:1;
}

.aboutImgContainer{
    flex-grow:1;
}

.aboutContainer{
    display:flex;
    align-items: flex-start;
}

.about{
    width: 60%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.footerLinkSet{
    list-style-type: none;
}

.homePageNavigator{
    width: 100%;
    border-bottom: 2px solid #d8d8d8;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

hr.solid{
    border-top: 1px solid #5a5a5a;
    width: 100%;
    margin-bottom: 30px;
}

.gridItemContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 60vw;
    margin-bottom: 60px;
}

.gridItem{
    width: 18vw;
    height: 24vw;
    color: #5a5a5a;

    margin-top: 1vw;
    margin-bottom: 1vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridImg{
    max-width: 90%;
    max-height: 90%;
}

.gridText{
    max-height: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 3%;
}

.gridName{
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    font-size: larger;

    cursor: pointer;
}

.gridPrice{
    font-family: 'Lato', sans-serif;
    color: #d8d8d8;
    font-size: medium;
}

hr.gridBreak{
    border-top: 1px solid #d8d8d8;
    width: 85%;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.shopContainer{
    display: flex;
    margin: 20px;
    align-items: flex-start;
}

.shopItemWrapper{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesList{
    width: 15vw;
    padding:5px;
    margin-right: 2vw;
    list-style-type: none;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
}

.categoryButtonTitle{
    color: #8367D8;
    font-size: small;
    font-family: 'Lato', sans-serif;

    padding: 3px;
    padding-left: 8px;
    padding-bottom: 8px;
    text-align: left;
}

.categoryButtonContainer{
    padding: 3px;
    padding-left: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryButton{
    color: #5a5a5a;;
    font-size: large;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.categoryButtonSelected{
    color: #8367D8;
}

.subcategoryButton{
    padding: 3px;
    padding-left: 12px;

    color: #5a5a5a;;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.subcategoryButtonSelected{
    padding: 3px;
    padding-left: 12px;

    color: #8367D8;;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    cursor: pointer;   
}

.categoriesButtonIcon{
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.loadEnabled{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 7px;
    text-align: center;

    color:#ffffff;
    background-color: #8367D8;
    cursor: pointer;

}
.loadDisabled{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 7px;
    text-align: center;

    color:#ffffff;
    background-color: #d8d8d8;

}

.width10{
    width: 20%;
}

.width10vw{
    width: 10vw;
}

.itemImageMainFrame{
    width: 25vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px #d8d8d8;
    margin: 20px;
}

.itemImageThumbFrame{
    height: 6vw;
    width: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;

    max-width: 100%;
    max-height: 100%;

    box-shadow: 4px 4px #d8d8d8;
}

.flexEnd{
    display: flex;
    justify-content: space-between;
}

.itemName{
    font-size: xx-large;
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
    margin-bottom: 7px;
}

.itemStartPrice{
    font-size: large;
    font-family: 'Lato', sans-serif;
    color: #8367D8;
    margin-bottom: 7px;
}

.messageS{
    font-family: 'Lato', sans-serif;
    margin: 4px;
    color: #5a5a5a;
}

.bidContainer{
    margin-top: 20px;
    margin-bottom: 30px;
}

.bidInput{
    color: #5a5a5a;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 3px;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
}

.bidButton{
    color: #5a5a5a;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;

    border-color: #8367D8;
    border-width: 3px;
    border-style: solid;   
}

.bidMinMessage{
    font-family: 'Lato', sans-serif;
    color: #d8d8d8;
}

.itemDataContainer{
    margin-bottom: 80px;
}

.itemInformationsContainer{
    width:30vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemImageMain{
    max-height: 90%;
    max-width: 90%;
}

.itemImageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.itemThumbsBar{
    width: 25vw;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itemThumbImage{
    max-height: 95%;
    max-width: 95%;
}

.itemDescriptionText{
    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    text-align: justify;
    text-justify: auto;

    border-top: #d8d8d8;
    border-top-width: 1px;
    border-top-style: solid; 
}

.gridItemImgContainer{
    
    position: relative;
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
}

.color5a5a5aMarginLeft{
    color: #5a5a5a;
    margin-left: 1vw;
}

.itemPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table.bidTable{
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px #d8d8d8;
    width: 60vw;

    color:#5a5a5a;
    font-family: 'Lato', sans-serif;

    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 2vw;
}

tr.bidTable{
    text-align: left;
    font-size: large;
}

th.bidTable{
    font-weight: normal;
    padding-bottom: 5px;
    color: #8367D8;
    border-bottom: #8367D8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

td.bidTable{
    padding-top: 4px;
    padding-bottom: 4px;
}

.bidTableColumn1{
    width: 60%;
}
.bidTableColumn2{
    width: 25%;
}
.bidTableColumn3{
    width: 15%;
}

.successMessage{
    font-size: large;
    font-family: 'Lato', sans-serif;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #40c046;
}

.neutralMessage{
    font-size: large;
    font-family: 'Lato', sans-serif;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5a5a5a;
}

.sortDisplayBar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectSorting{
	font-family: 'Lato', sans-serif;
	color: #5a5a5a;
    text-align: left;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;

    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
 
    background: url('https://auction-purple.herokuapp.com/images/select_arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 13px;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
}

.listItemContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.listItem{
    display: flex;
    justify-content: space-between;
    width: 58vw;

    color: #5a5a5a;

    margin-top: 1vw;
    margin-bottom: 1vw;
}
.listItemImgContainer{
    width: 15vw;
    height: 15vw;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 1vw;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
}
.listImg{
    max-width: 90%;
    max-height: 90%;
}
.listText{
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    
    margin-left: 2vw;

    font-family: 'Lato', sans-serif;
}
.listName{
    font-size: large;
    font-weight: bold;
    color: #5a5a5a;

    cursor: pointer;
}

.listDescription{
    color: #5a5a5a;

    padding-top: 1vw;
    padding-bottom: 1vw;

}
.listPrice{
    font-size: x-large;
    font-weight: bold;
    color: #8367D8;    
}

hr.solidVerticalLine{
    border-top: 1px solid #5a5a5a;
    height: 100%;
    display: inline;
}

.bidButtonDisabled{
    color: #d8d8d8;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    border-color: #d8d8d8;
    border-width: 2px;
    border-style: solid;
}

.listItemButtonContainer{
    display: flex;
    margin-top: 1vw;
}

.listItemButton{
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 12px;
    padding-right: 6px;

    margin: 10px;

    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;

    background-color: #ffffff;

    color: #d8d8d8;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.displayModeIcon{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.displayModeSelected{
    display: flex;
    align-items: center;
    background-color: #8367D8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;

    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.displayMode{
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    cursor: pointer;

    color: #5a5a5a;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.displayModeContainer{
    display: flex;
    align-items: center;
}

.itemMsg{
    line-height: 2vw;
    text-align: center;

    width: 100%;
    text-align: center;

    height: 2vw;
    transition: height 1s ease;

    font-size: large;
    font-family: 'Lato', sans-serif;
}

.itemMsg:empty {
    height: 0;
    transition: height 1s ease;
}

.successItemMsg{
    background-color: #417505;
    color: #F0F3EE;
}

.errorItemMsg{
    background-color: #AB944E;
    color: #F6F2E5;  
}

.warningItemMsg{
    background-color: #AB944E;
    color: #F6F2E5;
}

.gridItemOverlay{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(131,103,216,.4);
    opacity: 0;
    transition: .5s ease;

}

.gridItem:hover .gridItemOverlay{
    opacity: 1;
}

.gridItemButtonContainer{
    display: flex;
}

.gridItemButton{
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 12px;
    padding-right: 6px;

    margin: 10px;

    border-color: #5a5a5a;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;

    background-color: #ffffff;

    color: #5a5a5a;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.width200px{
    width: 200px;
}

.catsAndFtd{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 4vw;
    width: 60vw;
}

.homeCategoriesContainer{
    width:15vw;
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 4px #d8d8d8;
    background-color: white;
}

.homeCategoryButton{
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #5a5a5a;
    padding-left: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;

    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
    border-bottom-width: 1px;

    cursor: pointer;
}

.homeCategoryAllButton{
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #5a5a5a;
    padding-left: 1vw;
    padding-top: .5vw;
    padding-bottom: 1vw;

    cursor: pointer;
}

.homeCategoryTitle{
    font-family: 'Lato', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #8367D8;

    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: .5vw;
}

.feturedItemContainer{
    display: flex;
    align-items: center;
    width: 40vw;
}

.featuredItemImgContainer{
    width: 20vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featuredItemTextContainer{
    width:20vw;
}

.feturedItemDescriptionText{
    color:#5a5a5a;
    padding-top: .6vw;
    padding-bottom: 1vw;
}

.featuredItemStartPrice{
    font-size: larger;
    font-family: 'Lato', sans-serif;
    color: #8367D8;
    padding-top: .6vw;
}

.featuredItemName{
    font-size: xx-large;
    font-family: 'Lato', sans-serif;
    color: #5a5a5a;
}

.featuredButton{
    width: 8vw;
}

.DayPicker-Day--disabled {
    color: red;
    cursor:default
}

.dropImagesZone{
    width: 100%;
    min-height: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-color: #d8d8d8;
    border-width: 2px;
    border-style: dashed;

    cursor: pointer;
}

.simpleText{
    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

.paddingSimpleText{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.textEditorContainer{
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;

    z-index: 0;
    position: relative;
    margin-top: 15px;

    color: #5a5a5a;

    width:43vw;
}

.flexToRight{
    justify-content: flex-end;
}


.css-lrsgeo-menu{
    z-index: 1;
}

.DayPickerInput {
    display: inline-block;

    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: large;

    background-color: white;
  }

  .dateInputField{ 
    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: large;
        
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;

    text-align: center;
    margin-right: 10px;
  }

.verticalFlex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dateInputContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auctionDatesMessageContainer{
    text-align: left;
    width: 25vw;
    margin: .5vw;
    padding-bottom: 6vw;
    
    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    font-size: small;
}

.lightGrayBorder{
    border-color: #d8d8d8;
}

.fullSize{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.autocompleteItem{
    color:#5a5a5a;
    font-family: 'Lato', sans-serif;  
    font-size: medium;  
    background-color: white;
    cursor: pointer;
}

.autocompleteWrapper{
    position: relative; 
}

.highlightBackgound{
    background-color: #8367D8;
}

.wysiwygWrapper{
    display: flex;
    height: 15vw;
    flex-direction: column;
}

.wysiwygEditor{
    height: unset!important;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.wysiwygToolbar{
    border-bottom-color: #d8d8d8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
}

.thumbsNewImages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.thumbNewImageContainer{
    position: relative;

    width: 5vw;
    height: 5vw;
    margin:10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbNewImage{
    max-width: 100%;
    max-height: 100%;
}

.thumbNewImageContainer:hover .gridItemOverlay{
    opacity: 1;
}

.thumbNewImageClose{
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.centeredVerticalFlex{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.activeFiltersContainer{
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 60vw;
    flex-wrap: wrap;
}

.activeFilter{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    border-radius: 20px;
    line-height: 20px;

    background-color: #8367D8;

    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;

    cursor: pointer;
}

.activeFilterLabel{
    font-family: 'Lato', sans-serif;  
    font-size: medium;  
    color: white;

    padding-left: 8px;
    padding-right: 8px;
}

.filterButtonIcon{
    height: 10px;
    width: 10px;
}

.priceFilterContainer{
    width: 15vw;
    max-width: 15vw;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;

    padding: 5px;
    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    flex-direction: column;

    position: relative;
}
.priceSliderFilterContainer{
    position:relative;
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;
}

.histogramContainer{
    position: absolute;
    width: 12vw;
    bottom: 45%;
    display: flex;
    align-items: flex-end;
}

.histogramBar{
    width: 0.5vw;
    max-height: 4vw;
    background-color: #E4E5EC;
}

.filterTittle{
    color: #8367D8;
    font-size: small;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 3px;
}

.priceFilterText{
    color: #9b9b9b;
    font-size: medium;
    font-family: 'Lato', sans-serif;
    padding: 2px;
    margin-left: 10px;
}

.priceFilterTextContainer{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}


.navbarDropdownContainer{
    display: inline-block;
    position: relative;
}

.navbarDropdownItemsContainer{
    display: none;
    position: absolute;
    flex-direction: column;


    background-color: white;
    border-color: #d8d8d8;
    border-style: solid;
    border-width: 1px;

    z-index: 1;

}
.navbarDropdownContainer:hover .navbarDropdownItemsContainer{
    display: flex;
}

.navbarDropdownItem{
    color: #5a5a5a;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.navbarDropdownItem:hover{
    color: white;
    background-color: #8367D8;
}

.accountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accountNavbar{
    padding-top: 30px;
    padding-bottom: 30px;
}

.accountNavbarButton{
    display: inline-flex;
    align-items: center;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 5px;
    margin-bottom: 30px;

    font-family: 'Lato', sans-serif;  
    font-size: large;
    font-weight: bold;  
    
    color: #252525;
    background-color: #ececec;
}

.accountNavbarButtonSelected{
    display: inline-flex;
    align-items: center;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    margin: 5px;
    margin-bottom: 30px;

    font-family: 'Lato', sans-serif;  
    font-size: large;
    font-weight: bold;  
    
    color: white;
    background-color: #8367D8;
}

.accountNavbarIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

table.accountSellerTable{
    border-color: #d8d8d8;
    border-width: 1px;
    border-style: solid;
    width: 80vw;

    color:#5a5a5a;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2vw;

    border-collapse: collapse;
    text-align: center;
}

tr.accountSellerTable{
    font-size: large;
}

tr.accountSellerTableMedium{
    font-size: medium;
}

th.accountSellerTable{
    color: #252525;
    background-color: #ececec;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.accountSellerTable td{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.accountSellerTableImgContainer{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.accountSellerTable{
    max-width: 95%;
    max-height: 95%;
}

.accountSellerButtonBar{
    display:flex;
    justify-content: space-between;
}

.accountSellerButton{
    display: inline-flex;
    align-items: center;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    font-family: 'Lato', sans-serif;  
    font-size: large;  
    
    color: #5a5a5a;
    background-color: #ececec;

    cursor: pointer;

}
.accountSellerButtonSelected{
    display: inline-flex;
    align-items: center;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    font-family: 'Lato', sans-serif;  
    font-size: large;  
    
    color: white;
    background-color: #8367D8;

    cursor: pointer;
}

.accountSellerTableLinkButton{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    color:#5a5a5a;
    font-family: 'Lato', sans-serif;  
    font-size: medium;
    font-weight: bold;
    
    border-width: 3px;
    border-style: solid;
    border-color: #9b9b9b;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    text-align: left;
}

.green{
    color: #40c046;
}

.blue{
    color: #0078af;
}

.accountSellerNoContent{
    margin-bottom: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 80vw;

    font-family: 'Lato', sans-serif;
    font-size: larger;
    color: #5a5a5a;

    text-align: center;
}

.notSellerContainer{
    width: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-style: solid;
    border-color: #d8d8d8;
    border-width: 1px;

    margin-bottom: 8vw;
}

.notSellerTitle{
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #252525;
    background-color: #ececec;
    padding: 8px;
    text-align: center;
    align-self: stretch;
}

.notSellerImg{
    width: 15vw;
}

.notSellerLabel{
    font-family: 'Lato', sans-serif;
    font-size: medium;
    color: #5a5a5a;
}

.notSellerButton{
    color: #5a5a5a;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;

    border-color: #8367D8;
    border-width: 3px;
    border-style: solid;

    margin: 2vw;
}

.reactTooltipText{
    font-family: 'Lato', sans-serif;
    font-size: medium;
    color: #ececec;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.relatedItemsTitle{
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    color: #5a5a5a;
    padding: 10px;
}

.relatedItemsContainer{
    display:flex;
    width: 60vw;
    justify-content: space-evenly;

    border-top-style: solid;
    border-top-color: #d8d8d8;
    border-top-width: 3px;

    padding-bottom: 5vw;
}
.width100{
    width: 100%;
}

.accountProfileButtonContainer{
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: right;
}

.contextNoAuthButtons{
    margin: 5vw;

    font-family: 'Lato', sans-serif;
    font-size: x-large;
    color: #9b9b9b;

    text-decoration: none!important;
}

.contextNoAuthButton{
    text-decoration: none!important;

    color: #8367D8;
    background-color: white;

    border-color: #8367D8;
    border-width: 3px;
    border-style: solid;

    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
    box-shadow: 4px 4px #d8d8d8;
}

.padding30px{
    padding-left: 30px;
    padding-right: 30px;
}

.cardLogosContainer{
    padding-top: 20px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardLogosText{
    color: #5a5a5a;
    font-size: small;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;    
}

.cardLogosImg{
    width: 20vw;
}

.flexGrow1{
    flex-grow: 1;
}

.progresBarContainer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:25vw;
}

.progresBarDot{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #d8d8d8;
    background-color: white;

    position: relative;
    z-index: 4;
}

.progresBarDotDone{
    border-color: #8367D8;
}

.progresBarDotInner{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #d8d8d8;

    position: absolute;
    top: 4px;
    left: 4px;

    z-index: 5;
}

.progresBarDotInnerDone{
    background-color: #8367D8;
}

.verticalCenteredFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progressBar{
    height: 4px;
    width: 25vw;
    background-color: #d8d8d8;

    position:absolute;
    top: 11px;

    z-index: 2;
}

.progressBarDone{
    height: 4px;
    width: 25vw;
    background-color: #8367D8;

    position:absolute;
    top: 11px;

    z-index: 3;
}

.progressBarHalfDone{
    width: 12.5vw;
}
